<h1>Welcome to Got This!</h1>
<div class="intro">
    <h3>Here, we are dedicated to your success. 
The creation of this app was designed to help you achieve 
your financial goals. </h3>
</div>
<div class="listie">
<ul>
    <li><h3>Step 1: Record your Tracker on the Home page.</h3></li>
    <li><h3>Step 2: Schedule your bills due dates on the Calendar to remind you.</h3></li>
    <li><h3>Step 3: Press the Make Payment button on the Trackers you pay to help you keep track!</h3></li>
    <li><h3>Step 4: Achieve your goals!</h3></li>
</ul>
</div>


<div class="question">
    <h3>Questions? Comments? Reach out and connect with us on our social media apps or email us personally. We would love to hear from you! 
        <a href="gmail.com">Our Email Here</a>
    </h3>
</div>
<div class="login">
    <h2>Login or <button>Signup</button></h2> 
    <h3>UserName: </h3><input>
    <br/>
    <h3>Password: </h3><input type="password">  <button >Login</button>
    <br/>
    <h3>
    <br>
    <br>
    <br>


   
    