<h2>Counter List</h2>
<ul>
        <a routerLink="/add">Add a New Bill Tracker!</a>
    <li *ngFor="let counter of counters"><div id="post">Bill Name: {{counter.name}}<br>
                                        Amount Due: {{counter.amountdue}}<br>
                                        Monthly Due Date: {{counter.datedue}} <br>
                                        <button (click)="deleteCounter(counter.id)">Delete</button><br>
                                        <a [routerLink]="['/edit', counter.id]"><button>Edit</button></a>
                                    </div></li>
  
</ul>


